<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="left-side">
            <img src="../styles/img/rov.jpeg" alt="Business Representation" />
        </div>
        <div class="right-side">
            <div class="center-box">
                <h1>Seja bem-vindo a</h1>
                <img src="../styles/img/ci-logo.png" alt="Business Logo" class="logo" />
                <a href="briefing-page.html" class="action-button">Assista nosso briefing</a>
            </div>
        </div>
    </div>
</body>

</html>
