* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
    height: 100%;
    font-family: Roboto;
    border: 0px;
}

body {

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    align-items: center;

    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

footer {

    height: auto;

    margin-bottom: 20px;

}

form {

    display: flex;

    flex-direction: column;

    justify-content: end;

    align-items: center;

    margin-bottom: 50px;
}

#nome {

    height: 10%;
    width: 70%;

    border-radius: 5px;

    padding-left: 12px;

}

#cpf {

    height: 10%;
    width: 70%;

    margin-top: 20px;
    padding-left: 12px;

    border-radius: 5px;

}

#ci-ink {display: flex; flex-direction: column; justify-content: center; color: rgba(255, 255, 255, 0.452);}

@media only screen and (max-width: 767px) {

    main{

        background-color: #293575;

        height: 615px;
        width: 85%;

        border-radius: 10px;
        
        padding-bottom: 60px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    footer {

        font-size: 7px;
    
    }

    input::placeholder{
        font-size: 15px;
    }

    #nome {

        height: 10%;
        width: 70%;
    
        border-radius: 5px;
    
        padding-left: 12px;
    
    }

    #cpf {

        height: 10%;
        width: 70%;
    
        margin-top: 20px;
        padding-left: 12px;
    
        border-radius: 5px;
    
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    main{

        background-color: #293575;
        
        height: 615px;
        width: 85%;

        border-radius: 10px;

        padding-bottom: 60px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    footer {

        font-size: 9px;
    
    }

    input::placeholder{
        font-size: 15px;
    }

}

@media only screen and (min-width: 992px) {

    main{

        background-color: #293575;

        height: 615px;
        width: 35%;

        border-radius: 10px;

        padding-bottom: 60px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    footer {

        font-size: 12px;
    
    }

    input::placeholder{
        font-size: 20px;
    }

}